In [96]:
import pandas as pd 
import matplotlib.pyplot as plt
import plotly.express as px
import seaborn as sn
from datetime import date

In [131]:
df = pd.read_csv("./sample2.csv")

True

In [133]:
from datetime import datetime

df["date_mutation"] = [datetime.strptime(i, '%Y-%m-%d') for i in df["date_mutation"]]

In [99]:
#df["Valeur fonciere"] = [float(str(i).split(",")[0]) for i in df["Valeur fonciere"]]

In [123]:
datetime.min.time()

datetime.time(0, 0)

In [126]:
datetime.combine(date(2021,1,1),datetime.min.time())

TypeError: combine() missing required argument 'time' (pos 2)

In [100]:
keys = {
    "nature_mutation": list(df["nature_mutation"].value_counts().index),
    "valeur_fonciere": [df["valeur_fonciere"].min(), df["valeur_fonciere"].max()],
    "nom_commune": list(df["nom_commune"].value_counts().index),
    "nombre_lots": [df["nombre_lots"].min(),df["nombre_lots"].max()],
    "type_local": list(df["type_local"].value_counts().index),
    "surface_reelle_bati": [df["surface_reelle_bati"].min(), df["surface_reelle_bati"].max()],
    "nombre_pieces_principales": [df["nombre_pieces_principales"].min,df["nombre_pieces_principales"].max()],
    "surface_terrain": [df["surface_terrain"].min(), df["surface_terrain"].max()]
}

In [101]:
df.columns

Index(['Unnamed: 0', 'id_mutation', 'date_mutation', 'numero_disposition',
       'nature_mutation', 'valeur_fonciere', 'adresse_numero',
       'adresse_suffixe', 'adresse_nom_voie', 'adresse_code_voie',
       'code_postal', 'code_commune', 'nom_commune', 'code_departement',
       'ancien_code_commune', 'ancien_nom_commune', 'id_parcelle',
       'ancien_id_parcelle', 'numero_volume', 'lot1_numero',
       'lot1_surface_carrez', 'lot2_numero', 'lot2_surface_carrez',
       'lot3_numero', 'lot3_surface_carrez', 'lot4_numero',
       'lot4_surface_carrez', 'lot5_numero', 'lot5_surface_carrez',
       'nombre_lots', 'code_type_local', 'type_local', 'surface_reelle_bati',
       'nombre_pieces_principales', 'code_nature_culture', 'nature_culture',
       'code_nature_culture_speciale', 'nature_culture_speciale',
       'surface_terrain', 'longitude', 'latitude'],
      dtype='object')

In [102]:
df = df[~df[["latitude","longitude"]][:1500].isna()]

In [103]:
df[(df["latitude"]!=pd.NA) & (df["longitude"]!=pd.NA)]

,Unnamed: 0,id_mutation,date_mutation,numero_disposition,nature_mutation,valeur_fonciere,adresse_numero,adresse_suffixe,adresse_nom_voie,adresse_code_voie,...,type_local,surface_reelle_bati,nombre_pieces_principales,code_nature_culture,nature_culture,code_nature_culture_speciale,nature_culture_speciale,surface_terrain,longitude,latitude
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.234420,46.206151
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.203425,46.176104
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.975854,46.277352
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.975616,46.277595
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.975464,46.276790
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9996,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9997,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9998,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9999,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [104]:
df["surface_reelle_bati"]

0      NaN
1      NaN
2      NaN
3      NaN
4      NaN
        ..
9995   NaN
9996   NaN
9997   NaN
9998   NaN
9999   NaN
Name: surface_reelle_bati, Length: 10000, dtype: float64

In [134]:
df[df["date_mutation"].between(df["date_mutation"][0],df["date_mutation"][5])]

,Unnamed: 0,id_mutation,date_mutation,numero_disposition,nature_mutation,valeur_fonciere,adresse_numero,adresse_suffixe,adresse_nom_voie,adresse_code_voie,...,type_local,surface_reelle_bati,nombre_pieces_principales,code_nature_culture,nature_culture,code_nature_culture_speciale,nature_culture_speciale,surface_terrain,longitude,latitude
0,0,2017-1,2017-01-02,1,Vente,27000.0,83.0,NaN,RUE CHARLES ROBIN,0820,...,Appartement,37.0,2.0,NaN,NaN,NaN,NaN,NaN,5.234420,46.206151
1,1,2017-2,2017-01-05,1,Vente,115000.0,NaN,NaN,LES VAVRES,B032,...,NaN,NaN,NaN,AB,terrains a bâtir,NaN,NaN,788.0,5.203425,46.176104
2,2,2017-3,2017-01-06,1,Vente,1.0,NaN,NaN,LA POIPE,B080,...,NaN,NaN,NaN,P,prés,NaN,NaN,42.0,4.975854,46.277352
3,3,2017-3,2017-01-06,1,Vente,1.0,NaN,NaN,LA POIPE,B080,...,NaN,NaN,NaN,P,prés,NaN,NaN,77.0,4.975616,46.277595
4,4,2017-3,2017-01-06,1,Vente,1.0,NaN,NaN,LA POIPE,B080,...,NaN,NaN,NaN,P,prés,NaN,NaN,94.0,4.975464,46.276790
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9986,9986,2017-3982,2017-01-06,1,Vente,230000.0,100.0,NaN,RUE DE LA COURBE,0036,...,Appartement,46.0,2.0,S,sols,NaN,NaN,899.0,5.551926,46.217573
9987,9987,2017-3982,2017-01-06,1,Vente,230000.0,100.0,NaN,RUE DE LA COURBE,0036,...,Appartement,46.0,2.0,S,sols,NaN,NaN,899.0,5.551926,46.217573
9988,9988,2017-3982,2017-01-06,1,Vente,230000.0,100.0,NaN,RUE DE LA COURBE,0036,...,Appartement,38.0,2.0,S,sols,NaN,NaN,899.0,5.551926,46.217573
9989,9989,2017-3982,2017-01-06,1,Vente,230000.0,100.0,NaN,RUE DE LA COURBE,0036,...,Dépendance,NaN,0.0,S,sols,NaN,NaN,899.0,5.551926,46.217573
9990,9990,2017-3982,2017-01-06,1,Vente,230000.0,100.0,NaN,RUE DE LA COURBE,0036,...,Appartement,42.0,2.0,S,sols,NaN,NaN,899.0,5.551926,46.217573